@page
@model Mohammad_Ali_Walid_lab8.Pages.Books.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BookModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookModel.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookModel.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookModel.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookModel.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookModel.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookModel.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BookModel.PublishingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BookModel.PublishingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.BookModel.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
